<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--兼容ie-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/wjxView.css">
</head>
<body>
<nav class="navbar navbar-default" id="mynav" style="z-index: 998">
    <div class="container">
        <div class="row">
            <div class="navbar-header col-lg-2 ">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="https://www.wjx.cn/images/newimg/index/logonew.png" alt="#" id="myimg"></a>
            </div>
            <div class="collapse navbar-collapse navbar-right col-lg-10 " id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">首页</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">应用展示 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">问卷调查</a></li>
                            <li><a href="#">在线考试</a></li>
                            <li><a href="#">360度评估</a></li>
                            <li><a href="#">报名表单</a></li>
                            <li><a href="#">在线测试</a></li>
                        </ul>
                    </li>
                    <li><a href="#" id="startVoice">开始录音</a></li>
                    <li><a href="#" id="endVoice">停止录音</a></li>
                    <li><a href="#" id="translateVoice">翻译录音</a></li>
                    <li><a href="{:url('wjx/wjx/login')}">微信登录</a></li>
                    <li><a href="#">注册</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid" style="padding: 0 0;">
    <img src="https://image.sojump.com/images/newimg/index/banner.jpg" class="img-responsive" >
</div>
<div class="container">
    <div  class="row">
        <div class="col-lg-6 col-md-6 text-center"><img src="https://image.sojump.com/images/newimg/index/survey.png" ></div>
        <div class="col-lg-6 col-md-6 text-center start" >
            <h1>问卷调查，从“星”开始</h1>
            <small>在线问卷既复杂又简单，我们将诸多强大的功能集成到系统中，把最好的用户体验交给您。
            </small>
            <table class="table table-striped table-bordered table-hover table-condensed mytable">
                <tr>
                    <td><img
                            src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span>轻松导入问卷</span></td>
                    <td><img
                            src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span>多渠道分发问卷</span></td>
                </tr>
                <tr>
                    <td><img
                            src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span>完美适配移动端</span></td>
                    <td><img
                            src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span>原始数据下载</span></td>
                </tr>
                <tr>
                    <td><img
                            src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span>自动生成图表</span></td>
                    <td><img
                            src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span>付费收集答卷</span></td>
                </tr>
            </table>
        </div>
    </div>
    <div  class="row">
        <div class="col-lg-6 col-md-6 text-center start" >
            <h1>十分钟搭建您的考试系统</h1>
            <small>整合线下考试的场景和线上系统的优势，问卷星在线考试定会对您大有助益。</small>
            <table class="table table-striped table-bordered table-hover table-condensed mytable">
                <tr>
                    <td><img
                            src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span> 批量录入试题</span></td>
                    <td><img
                            src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span>考试时间控制</span></td>
                </tr>
                <tr>
                    <td><img src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span> 自定义成绩单</span></td>
                    <td><img src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span> 题库随机抽题</span></td>
                </tr>
                <tr>
                    <td><img src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span> 成绩查询系统</span></td>
                    <td><img src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span>付费收集答卷</span></td>
                </tr>
            </table>
        </div>
        <div class="col-lg-6 col-md-6 text-center "><img src="https://image.sojump.com/images/newimg/index/test.png" ></div>
    </div>
    <div  class="row">
        <div class="col-lg-6 col-md-6 text-center "><img  src="https://image.sojump.com/images/newimg/index/survey.png" ></div>
        <div class="col-lg-6 col-md-6 text-center  start" >
            <h1>问卷调查，从“星”开始</h1>
            <small>在线问卷既复杂又简单，我们将诸多强大的功能集成到系统中，把最好的用户体验交给您。
            </small>
            <table class="table table-striped table-bordered table-hover table-condensed mytable">
                <tr>
                    <td><img src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span>轻松导入问卷</span></td>
                    <td><img src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span>多渠道分发问卷</span></td>
                </tr>
                <tr>
                    <td><img  src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span>完美适配移动端</span></td>
                    <td><img src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span>原始数据下载</span></td>
                </tr>
                <tr>
                    <td><img src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span>自动生成图表</span></td>
                    <td><img  src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span>付费收集答卷</span></td>
                </tr>
            </table>
        </div>
    </div>
    <div  class="row">
        <div class="col-lg-6 col-md-6 text-center  start" >
            <h1>十分钟搭建您的考试系统</h1>
            <small>整合线下考试的场景和线上系统的优势，问卷星在线考试定会对您大有助益。</small>
            <table class="table table-striped table-bordered table-hover table-condensed mytable">
                <tr>
                    <td><img src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span> 批量录入试题</span></td>
                    <td><img src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span>考试时间控制</span></td>
                </tr>
                <tr>
                    <td><img src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span> 自定义成绩单</span></td>
                    <td><img src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span> 题库随机抽题</span></td>
                </tr>
                <tr>
                    <td><img src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span> 成绩查询系统</span></td>
                    <td><img src="https://image.sojump.com/images/newimg/index/tick_gray.png"><span>付费收集答卷</span></td>
                </tr>
            </table>
        </div>
        <div class="col-lg-6 col-md-6 text-center"><img src="https://image.sojump.com/images/newimg/index/test.png"></div>
    </div>
</div>
</body>
</html>
<script src="__JS__/jquery-3.2.1.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    var appId='';
    var timestamp='';
    var nonceStr='';
    var signature='';
    var url=encodeURIComponent(location.href.split('#')[0]);
    $.ajax({
        url:'./index.php?c=wechat&a=jssdkApi',
        data: {url:url},
        dataType:'json',
        type:'post',
        async:false,//同步情况下
        success:function(res){
            //console.log(res.appId,11);
            appId=res.appId;
            timestamp=res.timestamp;
            nonceStr=res.nonceStr;
            signature=res.signature;
        }
    });
    wx.config({
        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
        appId: appId, // 必填，公众号的唯一标识
        timestamp:timestamp , // 必填，生成签名的时间戳
        nonceStr: nonceStr, // 必填，生成签名的随机串
        signature: signature,// 必填，签名，见附录1
        jsApiList: [
            'onMenuShareTimeline','startRecord','stopRecord','translateVoice'
        ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });
    wx.ready(function(){
        // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，
        // 则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
        wx.onMenuShareTimeline({
            title: '宅男必看！', // 分享标题
            link: 'http://www.doublekills.xin/wjx/index.php?c=wjx&a=login', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: 'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1509554703761&di=43857a0e301be5d97d13d59d00a67747&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimage%2Fc0%253Dshijue1%252C0%252C0%252C294%252C40%2Fsign%3D66dd7f0bf7faaf5190ee89fce43dfe9b%2Ff2deb48f8c5494ee58d9d83427f5e0fe99257e20.jpg', // 分享图标
            success: function () {
                // 用户确认分享后执行的回调函数
                alert("bear分享了该链接!")
            },
            cancel: function () {
                // 用户取消分享后执行的回调函数
                alert("bear取消分享该链接")
            }
        });
        /*开始录音*/
        $("#startVoice").click(function(){
            wx.startRecord();
        });
        /*结束录音*/
        var localId='';
        $("#endVoice").click(function(){
            wx.stopRecord({
                success: function (res) {
                    localId = res.localId;
                }
            });
        });
        /*翻译录音*/
        $("#translateVoice").click(function(){
            wx.translateVoice({
                localId: localId, // 需要识别的音频的本地Id，由录音相关接口获得
                isShowProgressTips: 1, // 默认为1，显示进度提示
                success: function (res) {
                    alert(res.translateResult); // 语音识别的结果
                }
            });
        })

    });
</script>