<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--兼容ie-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/login.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1"><img src="https://www.wjx.cn/images/register-login/logo.png" alt="#" id="myimg"></div>
            <div class="col-lg-2 col-md-2  col-sm-2"></div>
            <div class="col-lg-5 col-md-4  col-sm-4 text-center" id="login">
                <form action="{:url('wjx/wjx/QQlogin')}" method="post" class="form-horizonal center-block" id="myform">
                    <h1  class="validate-caption ">问卷星登录</h1>
                    <div class="form-group">
                        <input type="text" id="username"  name="user" class="form-control" placeholder="用户名/手机/Email">
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="psd"  class="form-control" placeholder="请输入登录密码">
                    </div>
                    <div id="tips">
                        <span id="load"><input type="checkbox">下次自动登录</span>
                        <span id="forget"><a id="password_forget"  href="">忘记用户名/密码？</a></span>
                    </div>
                    <input type="submit" value="登 录" id="loginbtn"   style="color:White;">
                    <a href="#" id="registerbtn" title="只需２０秒，就可完成注册" class="register-now">立即注册</a>
                    <div class="third-party-login">
                        <div class="third-party-txt">
                            <em class="word" style="color:#888888;">第三方登录</em>
                        </div>
                        <div class="penguin-box" id="QQhead">
                            <img src="https://image.sojump.com/images/register-login/qq.png">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 text-center"><a href="" class="mybtn1">注册</a></div>
            <div class="col-lg-2 col-md-2  col-sm-3 text-center"><a href="" class="mybtn2">返回首页</a></div>
        </div>
    </div>

</body>
</html>
<script src="__JS__/jquery-3.2.1.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script>
    var $username="tom";
    var $password=12345678;
    $("#username").val($username);
    $("#password").val($password);
</script>